<div class="layout">
  <p>
    Auto Expo is Europe’s largest wholesale platform for used cars. We support
    your business growth with our digital buying and selling solutions,
    best-in-class Europe-wide transport solutions and dedicated account
    managers.

    <p>
      More than 60,000 partners in over 30 European countries already use Auto
      Expo for the efficient purchase and sale of used cars. Benefit as well
      from a constant stock of over 30,000 inspected used cars as well as fast
      and easy B2B Remarketing.
    </p>

    <p>
      Get access to Europe-wide inventory and choose from many cars in stock and
      new cars that are added daily! Buy cars fast and easy entirely online and
      without time-consuming physical auctions, minimum purchase quantities, or
      hidden fees.
    </p>
  </p>
</div>