<html lang="en">
  <body>

    <main>
      <h1>about project</h1>
      <div class="layout">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, sit
          libero eum animi, eveniet quos enim magnam perferendis culpa, tempore
          unde inventore! Asperiores, modi quod! Magnam nulla deserunt ut
          molestias ab non minima atque, ipsum ex enim quo quidem mollitia minus
          perferendis distinctio? Quidem ut quaerat quia unde quas. Vitae.
        </p>
      </div>
    </main>

  </body>
</html>