<div class="layout">
  <img
    id="sadFaceImg"
    src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png"
    alt="sad face"
  />

  <h2>car with ID: "{{carId}}" does not exist</h2>
  <a class="link" href="/catalog">back to catalog</a>
</div>