<html lang="en">
  <body>

    <div class="layout">
      <main>
        <h1>car not found</h1>
        <h2>car with id: "{{carId}}" does not exist</h2>
        <a class="link" href="/catalog">back to catalog</a>
      </main>
    </div>

  </body>
</html>