<html lang='en'>

	<body>

		<main>
			<h1>browse cars</h1>

			<form action='' method='' id='searchForm'>
				<input type='text' class='search' name='search' placeholder='search' />
				<input type='number' name='from' class='price' placeholder='min price' />
				<input type='number' name='to' class='price' placeholder='max price' />
				<input type='submit' value='search' id='searchBtn' />
			</form>
			{{#each cars}}
			{{> carCard}}
			{{/each}}
		</main>

	</body>

</html>