<html lang="en">
	<body>

		<main>
			<h1>browse cars</h1>

			{{#if cars}}

			<form method="get" id="searchForm">
				<input type="text" class="search" name="search" value="{{search}}" placeholder="search" />
				<input type="number" name="from" class="price" value="{{minPrice}}" placeholder="min price" />
				<input type="number" name="to" class="price" value="{{maxPrice}}" placeholder="max price" />
				<input type="submit" value="search" id="searchBtn" />
			</form>

			{{#each cars}}
			{{> carCard}}
			{{/each}}

			{{else}}

			<div class="layout">
				<p>
				no cars have been found, be the first to <a class="link" href="/create">share</a>			
				</p>
				<p> <a class="link" href="/catalog">back to catalog</a>	</p>
			</div>

			{{/if}}
		</main>

	</body>
</html>