<html lang='en'>

	<body>

		<main>
			<h1>browse cars</h1>

			<form action='' method='' id='searchForm'>
				<input type='text' class='search' name='search' placeholder='search' />
				<input type='number' name='from' class='price' placeholder='min price' />
				<input type='number' name='to' class='price' placeholder='max price' />
				<input type='submit' value='search' id='searchBtn' />
			</form>
			<div class='item'>
				<img src='' alt='image' />
				<p class='name'>name 1</p>
				<a class='btn' href='/catalog/1234'>details</a>
			</div>
			<div class='item'>
				<img src='' alt='image' />
				<p class='name'>name 1</p>
				<a class='btn' href='/catalog/1234'>details</a>
			</div>
			<div class='item'>
				<img src='' alt='image' />
				<p class='name'>name 1</p>
				<a class='btn' href='/catalog/1234'>details</a>
			</div>
			<div class='item'>
				<img src='' alt='image' />
				<p class='name'>name 1</p>
				<a class='btn' href='/catalog/1234'>details</a>
			</div>
		</main>

	</body>

</html>