<html lang='en'>

	<body>

		<main>
			<h1>publish item</h1>
			<div class='form'>
				<form action='' method=''>
					<label for='name'>name</label>
					<input type='text' id='name' name='name' />
					<label for='name'>description</label>
					<textarea id='name' name='description'></textarea>
					<label for='image'>image url</label>
					<input type='text' id='image' name='imageUrl' />
					<label for='image'>price</label>
					<input type='number' id='image' name='price' />
					<input type='submit' value='publish' />
				</form>
			</div>
		</main>

	</body>

</html>