<h1>login page</h1>

<div class="form">
  <p class="name">no account? sign up
    <a href="/auth/register">here</a>
  </p>
  <form action="/auth/login" method="post">
    <label for="username">username</label>
    <input
      type="text"
      id="username"
      name="username"
      value="{{body.username}}"
    />
    <label for="password">password</label>
    <input type="password" id="password" name="password" />

    <input type="submit" value="sign in" />
  </form>
</div>