<img
  id="sadFaceImg"
  src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png"
  alt="sad face"
/>
<h1>you don't have permission to add new extras</h1>
<h2>please login with an administrator account or reach out to our team</h2>