<html lang="en">
  <body>

    <main>
      <h1>register page</h1>

      {{#if errors}}
        {{#each errors}}

          <div class="errors">
            <span class="error">
              {{this}}
            </span>
          </div>

        {{/each}}
      {{/if}}

      <div class="form">
        <p class="name">already registered? sign in <a href="/auth/login">here</a> </p>
        <form action="/auth/register" method="post">
          <label for="username">username</label>
          <input type="text" id="username" name="username" />
          <label for="password">password</label>
          <input type="password" id="password" name="password" />
          <label for="password">repeat</label>
          <input type="password" id="repeat" name="repeat" />

          <input type="submit" value="sign up" />
        </form>
      </div>

    </main>

  </body>
</html>