@import url('https://fonts.cdnfonts.com/css/hack');

body {
  margin: 0;
  padding: 0;
  font-family: 'Hack', sans-serif;
  background-color: #eeeeee;
}

header ul {
  padding: 0;
  margin: 0;
}

img.car {
  width: 370px;
  height: 208px;
  margin: 0 auto;
  text-align: center;
}

img.logo {
  height: 70px;
}

header {
  background-color: #00995c;
}

header ul li {
  display: inline-block;
  position: relative;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 1em;
}

header ul li::after {
  background-color: #003399;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out 0s;
  position: absolute;
}

li:hover::after {
  width: 100%;
}

main {
  margin: 0 3em;
  padding: 1em;
}

h1 {
  text-align: center;
}

div.car {
  display: inline-block;
  border: 1px solid #2b415433;
  width: 24.4%;
  border-radius: 4px;
  text-align: center;
}

p.name {
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  padding: 10px;
  border-bottom: 1px solid #2b415433;
}

button,
main a.btn {
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 43%;
  margin: 12px;
  border-radius: 4px;
  background: #003399;
  color: white;
}

main a.btn:hover {
  background: #115e8e;
}

button:hover {
  background-color: #0b2133;
  color: white;
  cursor: pointer;
}

div.details {
  display: block;
  margin: auto;
  width: 50%;
  background-color: #f3f3f2;
  padding: 1em;
  text-align: center;
}

div.layout {
  display: block;
  margin: auto;
  background-color: #cdcdcd;
  padding: 3em;
  border-radius: 4px;
  text-align: center;
}

.link {
  background-color: #003399;
  color: white;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
}

div.layout a {
  text-decoration: none;
  font-weight: bold;
}

form:not(.extraForm) label {
  background: #003399;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

input[type='text'],
input[type='number'],
input[type='password'],
select,
textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 12px 20px 12px 12px;
  border-radius: 4px 4px 4px 4px;
  margin: 8px 0 2em;
  background-color: #eeeeee;
}

input.price {
  width: 20%;
  background-image: url('/static/images/dollar-sign.png');
  background-position: 5px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input.search {
  width: 50%;
  background-image: url('/static/images/search-icon.png');
  background-position: 5px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type='submit'] {
  background-color: #003399;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 50%;
  margin: 5px 5px 5px 25%;
  color: white;
  border-radius: 4px;
}

input[type='submit']:hover {
  background-color: #115e8e;
  cursor: pointer;
}

#searchBtn {
  margin: 0;
  width: 10%;
  padding: 13px;
  margin-left: 5px;
  margin-bottom: 15px;
}

#searchForm {
  display: flex;
  align-items: center;
  width: 100%;
}

#linksBox {
  float: right;
  margin-top: 18px;
  margin-right: 15px;
  line-height: 40px;
}

.extras {
  margin-top: 30px;
  list-style-type: none;
  padding: 20px 220px;
  text-align: left;
  background-color: rgb(215, 215, 215);
}

.extra-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 39.5%;
}

ul.extras li input[type='checkbox'] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

div.form {
  padding: 20px;
  width: 36%;
  margin: auto;
}

div.errors {
  width: 25%;
  margin-left: auto;
}

span.error {
  animation: fadeOut 2s forwards;
  animation-delay: 2s;
  margin-top: 50px;
  display: grid;
  background: #e9604e;
  color: white;
  padding: 13px;
  text-align: center;
  border-radius: 6px;
  float: right;
  overflow: hidden;
  width: 350px;
}

span.successMsg {
  background: #4ec5e9;
}

img#sadFaceImg {
  display: block;
  margin: 0 auto;
  width: 300px;
}

#welcomeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

#welcome {
  font-size: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  background: #00995c;
  padding: 0.3em;
  text-align: center;
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#helloUser {
  color: #003399;
}

#deleteBtn {
  background: rgb(142, 10, 10);
}

#deleteBtn:hover {
  background: rgb(170, 64, 14);
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
